<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%# OG stylesheet link %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <%# Others %>
  <%# <link rel='stylesheet' href='/stylesheets/css/global.style.css' %>
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</body>

</html>